/**
 * http://localhost:8080/public/assets/js/testfooter.html
 * Original Tutorial: http://www.cssreset.com/2010/css-tutorials/how-to-keep-footer-at-bottom-of-page-with-css/
 */
html,
body {
	margin:0;
	padding:0;
	height:100%;
}
#wrapper {
	min-height:100%;
	position:relative;
}
#content {
	padding-bottom:100px;   /* Height of the footer element */
}
#footer {
	background:#bababa;
	width:100%;
	height:100px;
	position:absolute;
	bottom:0;
	left:0;
}
#header {
	background:#ededed;
	padding:10px;
}
.box {
	width:800px;
	margin:0 auto;
}
