doctype transitional
html(xmlns='http://www.w3.org/1999/xhtml')
  head
    title
    link#siteCSS(rel='stylesheet', type='text/css', href='default.css')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js')    
    script(type='text/javascript').
      var currDate=new Date();
      var currMonth = currDate.getDate();
      currMonth = parseInt(currMonth) + 1; // Month returned by getDate() is 0 to 11 so add 1
      var newCSS = "default.css";
      if (currMonth >= 1) newCSS = "winter.css"; // Month is January or greater
      if (currMonth >= 3) newCSS = 'spring.css'; // Month is March or greater
      if (currMonth >= 6) newCSS = 'summer.css'; // Month is June or greater
      if (currMonth >= 9) newCSS = 'fall.css';   // Month is September or greater
      if (currMonth = 12) newCSS = 'winter.css'; // Month is December
      document.getElementById('siteCSS').href = newCSS;
  body
