html
  head
    title my jade template xxx
    script(type='text/javascript', src='/public/assets/js/oapp.bundle.js')
  body
    .container-fluid
      .row
        .col-md-12
          img(alt='Bootstrap Image Preview', src='http://lorempixel.com/140/140/')
      .row
        .col-md-12
          nav.navbar.navbar-default(role='navigation')
            .navbar-header
              button.navbar-toggle(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
                span.sr-only Toggle navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar
              a.navbar-brand(href='#') Brand
            #bs-example-navbar-collapse-1.collapse.navbar-collapse
              ul.nav.navbar-nav
                li.active
                  a(href='#') Link
                li
                  a(href='#') Link
                li.dropdown
                  a.dropdown-toggle(href='#', data-toggle='dropdown')
                    | Dropdown
                    strong.caret
                  ul.dropdown-menu
                    li
                      a(href='#') Action
                    li
                      a(href='#') Another action
                    li
                      a(href='#') Something else here
                    li.divider
                    li
                      a(href='#') Separated link
                    li.divider
                    li
                      a(href='#') One more separated link
              form.navbar-form.navbar-left(role='search')
                .form-group
                  input.form-control(type='text')
                button.btn.btn-default(type='submit')
                  | Submit
              ul.nav.navbar-nav.navbar-right
                li
                  a(href='#') Link
                li.dropdown
                  a.dropdown-toggle(href='#', data-toggle='dropdown')
                    | Dropdown
                    strong.caret
                  ul.dropdown-menu
                    li
                      a(href='#') Action
                    li
                      a(href='#') Another action
                    li
                      a(href='#') Something else here
                    li.divider
                    li
                      a(href='#') Separated link
      .row
        .col-md-4
          .list-group
            a.list-group-item.active(href='#') Home
            .list-group-item
              | List header
            .list-group-item
              h4.list-group-item-heading
                | List group item heading
              p.list-group-item-text
                | ...
            .list-group-item
              span.badge 14
              | Help
            a.list-group-item.active
              span.badge 14
              | Help
        .col-md-4
          .list-group
            a.list-group-item.active(href='#') Home
            .list-group-item
              | List header
            .list-group-item
              h4.list-group-item-heading
                | List group item heading
              p.list-group-item-text
                | ...
            .list-group-item
              span.badge 14
              | Help
            a.list-group-item.active
              span.badge 14
              | Help
        .col-md-4
          .list-group
            a.list-group-item.active(href='#') Home
            .list-group-item
              | List header
            .list-group-item
              h4.list-group-item-heading
                | List group item heading
              p.list-group-item-text
                | ...
            .list-group-item
              span.badge 14
              | Help
            a.list-group-item.active
              span.badge 14
              | Help
          .list-group
            a.list-group-item.active(href='#') Home
            .list-group-item
              | List header
            .list-group-item
              h4.list-group-item-heading
                | List group item heading
              p.list-group-item-text
                | ...
            .list-group-item
              span.badge 14
              | Help
            a.list-group-item.active
              span.badge 14
              | Help
