extends docwrapper


//- Override any config settings by appending to the config block
append config
	- var PageTitle = 'Create a Nav Menu Mixin'
	- var MetaDesc = 'In this lesson create a Nav Menu mixin and also learn to use Jade’s “case” and “iteration” functionality in the process.'


//- This mixin iterates through and creates each menu item
mixin navmenu(menu_items)
	.navmenu
		ul
			each top_item in menu_items
				li
					+navlinks(top_item)
					if top_item.child
						ul
							each child_item in top_item.child
								li
									+navlinks(child_item)

//- This mixin generates the links
mixin navlinks(item)
	- var linkatts = { 'href': item.link }
	a()&attributes(linkatts)= item.title


block content

	//- Run mixin, passing a JS object through it from which to build the menu
	+navmenu([
		{ 'title':'Home', 'link':'index.htm' },
		{ 'title':'About My Work', 'link':'about.htm',
			'child': [
				{ 'title':'Noteable Clients', 'link':'clients.htm' },
				{ 'title':'Behance Portfolio', 'link':'http://www.behance.net', 'type':'out_follow' },
				{ 'title':'Resume Download', 'link':'resume.doc', 'type': 'download' }
			]
		},
		{ 'title':'Blog', 'link':'blog.htm' },
		{ 'title': 'Contact', 'link':'http://www.hostedform.com', 'type':'out_nofollow' }
	])
