doctype html
html
  head
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    title CSSReset footer demo
  body
    #wrapper
      #header
        .box
          h1 CSSReset footer Demo pagina
          h1 And STAY Down! How To Keep Your Footer At The Bottom Of The Page With CSS
          p: | An original demo and tutorial from CSSReset.com, demonstrating how to keep the footer at the bottom of the page with pure, valid CSS and no tricks and hacks.
            strong Tutorial »
            a(href='http://www.cssreset.com/2010/css-tutorials/how-to-keep-footer-at-bottom-of-page-with-css/', title='How To Keep Your Footer At The Bottom Of The Page With CSS') How To Keep Your Footer At The Bottom Of The Page With CSS
      #content
        .box
          h2 This is your content
          p: | Try resizing the window, or adding some more content with the button below, to see how the footer is affected.
          p
            a#add-content.large.left.orange.button(href='#', title='Add More Content') Add More Content »
            a.large.right.blue.button(href='http://www.cssreset.com/demos/layouts/how-to-keep-footer-at-bottom-of-page-with-css/CSSReset.com - Keeping Footer At The Bottom Of The Page.zip', title='Download Source') Download Source Code »
          .clear
          p.blah: | Bh blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah.
      #footer
        .box
          h2 This is your tearaway footer
          p: | It will stick to the bottom of the viewport on short pages, or stretch down on long pages.
      script(type='text/javascript', src='commons.chunk.js')
      script(type='text/javascript', src='oapp.bundle.js')  
