html
  head
    title my jade template
  body
    .wrapper
      .container
        .row
          //.col-md-2
          //  img(src="../images/hof.jpg", style='height: 25%;')
          .col-md-4
            span#img_container
              // This image required in (capp.js)
          .col-md-4
          h3
            span
              img.bg_header_img.img-rounded
            // This image via inline CSS bg image (app.css)
      .container-fluid
        .row
          .col-md-12
        .row
          .col-md-12
            nav.navbar.navbar-default(role='navigation')
              #bs-example-navbar-collapse-1.collapse.navbar-collapse
                ul.nav.navbar-nav
                  li.active: a(href='#') Het Hof
                  li: a(href='#') Rechtspraak
                  li: a(href='#') Hangende zaken
                  li: a(href='#') Informatieve Nota's
                  li: a(href='#') Publicaties
                  li: a(href='#') Basisteksten
                  li: a(href='#') Zoeken
                    ul.dropdown-menu
                      li: a(href='#') Action
                      li: a(href='#') Another action
                      li: a(href='#') Something else here
                form.navbar-form.navbar-left(role='search')
                  .form-group
                    input.form-control(type='text')
                  button.btn.btn-default(type='submit')
                    | Submit
                ul.nav.navbar-nav.navbar-right
                  li.dropdown
                    a.dropdown-toggle(href='#', data-toggle='dropdown')
                      | FR
                      strong.caret
                    ul.dropdown-menu
                      li: a(href='#') Action
                      li: a(href='#') Another action
                      li: a(href='#') Something else here
                      li.divider
                      li: a(href='#') Separated link
        .row
          .col-md-4
            .list-group
              a.list-group-item.active(href='#') Recente Uitspraken
              .list-group-item
                | List header
              .list-group-item
                h4.list-group-item-heading
                  | List group item heading
                p.list-group-item-text
                  | ...
              .list-group-item
                span.badge 14
                | Help
          .col-md-4
            .list-group
              a.list-group-item.active(href='#') Informatieve nota's
              .list-group-item
                | List header
              .list-group-item
                h4.list-group-item-heading
                  | List group item heading
                p.list-group-item-text
                  | ...
              .list-group-item
                span.badge 14
                | Help
              a.list-group-item.active
                span.badge 14
                | Help
          .col-md-4
            .list-group
              a.list-group-item.active(href='#') Aankomende uitspraken
              .list-group-item
                | List header
              .list-group-item
                h4.list-group-item-heading
                  | List group item heading
                p.list-group-item-text
                  | ...
              .list-group-item
                span.badge 14
                | Help
              a.list-group-item.active
                span.badge 14
                | Help
            .list-group
              a.list-group-item.active(href='#') Pleidooien
              .list-group-item
                | List header
              .list-group-item
                h4.list-group-item-heading
                  | List group item heading
                p.list-group-item-text
                  | ...
              .list-group-item
                span.badge 44
                | Help
              a.list-group-item.active
                span.badge 33
                | Help
      #footer.container
          nav.navbar.navbar-fixed-bottom
              ul.navbar-nav
                li: a(href='#') Nieuwsbrief
                li: a(href='#') Contact
                li: a(href='#') Nuttige internetsites
                li: a(href='#') Vacatures
                li: a(href='#') Disclaimer
                li: a(href='#') Basisteksten
    script(type='text/javascript', src='commons.chunk.js')
    script(type='text/javascript', src='xapp.bundle.js') // foto met js invoegen: appendChild(img)
    //script(type='text/javascript', src='app4.bundle.js') // foto loaden met css
