doctype html
html
  head
    meta(charset='utf-8')
    meta(name='author', content='Aalaap Ghag')
    title
      | Twitter’s Bootstrap with Ryan Fait’s Sticky Footer and Aalaap Ghag’s Responsive Padding Fix
  body
    .wrapper
      .container
        header.hero-unit
          h1
            | Twitter’s Bootstrap with Ryan Fait’s Sticky Footer and Aalaap Ghag’s Responsive Padding Fix
          p
            | It's really
            strong not
            |  that hard, y’know. Check out the source code and
            abbr(title='Cascading Style Sheets') CSS
            |  of this web page for how to do it yourself.
      .push
        // //
    // .wrapper
    footer
      .container
        p
          | Put together in less than five minutes by
          a(href='http://www.martinbean.co.uk/', rel='author') Martin Bean
          | . Uses
          a(href='http://twitter.github.com/bootstrap/', rel='external') Twitter Bootstrap
          |  and
          a(href='http://ryanfait.com/sticky-footer/', rel='external') Ryan Fait’s Sticky Footer
          |  and
          a(href='#') Aalaap Ghag’s Responsive Padding Fix
          | .
    script(type='text/javascript', src='commons.chunk.js')
    script(type='text/javascript', src='app4.bundle.js')
