doctype html
html
  head
    title my jade template
  body
    h1 Hello
    .container-fluid
      .row
        .col-md-4
          ol
            li
              | Lorem ipsum dolor sit amet
            li
              | Consectetur adipiscing elit
            li
              | Integer molestie lorem at massa
            li
              | Facilisis in pretium nisl aliquet
            li
              | Nulla volutpat aliquam velit
            li
              | Faucibus porta lacus fringilla vel
            li
              | Aenean sit amet erat nunc
            li
              | Eget porttitor lorem
        .col-md-4
          button.btn.btn-default(type='button')
            | Default
          table.table
            thead
              tr
                th
                  | #
                th
                  | Product
                th
                  | Payment Taken
                th
                  | Status
            tbody
              tr
                td
                  | 1
                td
                  | TB - Monthly
                td
                  | 01/04/2012
                td
                  | Default
              tr.active
                td
                  | 1
                td
                  | TB - Monthly
                td
                  | 01/04/2012
                td
                  | Approved
              tr.success
                td
                  | 2
                td
                  | TB - Monthly
                td
                  | 02/04/2012
                td
                  | Declined
              tr.warning
                td
                  | 3
                td
                  | TB - Monthly
                td
                  | 03/04/2012
                td
                  | Pending
              tr.danger
                td
                  | 4
                td
                  | TB - Monthly
                td
                  | 04/04/2012
                td
                  | Call in to confirm
        .col-md-4
          a.btn.btn-primary(href='#', type='button') Button
      .row
        .col-md-12
          .jumbotron
            h2
              | Hello, world!
            p
              | This is a template for a simple marketing or informational website. It includes a large callout called the hero unit and three supporting pieces of content. Use it as a starting point to create something more unique.
            p
              a.btn.btn-primary.btn-large(href='#') Learn more
    .footer
      .top
        .container
          .row
            .col-md-6
              ul.menu
                li
                  i.icon-angle-right
                  a(href='/nl/werken-bij-de-federale-overheid/') Werken bij de federale overheid
                li
                  i.icon-angle-right
                  a(href='/nl/gelijke-kansen/') Gelijke kansen
                li
                  i.icon-angle-right
                  a(href='/nl/faq/') FAQ
            .col-md-6
              ul.socialmenu
                li
                  a(href='https://www.facebook.com/pages/Selor/344023042249#!/pages/Selor/344023042249/?locale=nl_BE', title='Facebook', target='_blank')
                    i.icon-facebook-sign
                li
                  a(href='https://twitter.com/#!/selor', title='Twitter', target='_blank')
                    i.icon-twitter-sign
                li
                  a(href='https://www.linkedin.com/company/39628?trk=tyah', title='Linked In', target='_blank')
                    i.icon-linkedin-sign
                li
                  a(href='https://www.youtube.com/user/selorbe', title='Youtube', target='_blank')
                    i.icon-youtube-sign
    script(type='text/javascript', src='/public/assets/js/commons.chunk.js')
    script(type='text/javascript', src='/public/assets/js/oapp.bundle.js')
